body {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: rgb(245, 170, 170);
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: "PT Sans Narrow", sans-serif;
}

.container {
  box-sizing: border-box;
  display: block;
  top: 0;
  min-height: 200vh;
  background: rgb(173, 248, 155);
  max-width: 1000px;
  margin-top: 75px;
}

.row {
  box-sizing: border-box;
  display: flex;
  background: rgb(139, 158, 245);
 
 justify-content: center;
  align-content: center;
}

.section {
  box-sizing: border-box;
  margin-top: 80px;
  background: rgb(250, 247, 106);

}
