/*Profile*/
.header-section {
  box-sizing: border-box;
  text-align: center;
  background: rgb(238, 238, 238);
  padding: 33px 33px 22px 33px;
}

.header-section h2 {
  color: rgb(4, 135, 204);
  font-family: sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin-block-end: 88px;
  margin-block-start: 0px;
  margin-bottom: 88px;
  text-align: center;
  text-transform: uppercase;
}

/*#############################################
Column PROFESSIONAL SKILLS
#############################################*/
.col-skills1 {
  box-sizing: border-box;
  display: inline-flex;
  padding: 0 15px;
  background: rgb(238, 238, 238);
}

.prof-skills {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
  color: rgb(117, 117, 117);
  display: inline-block;
  margin-bottom: 70px;
  padding: 0 30px 30px 30px;
}
.title-skills {
  box-sizing: border-box;
  color: rgb(117, 117, 117);
  display: block;
  font-family: "PT Sans Narrow", sans-serif;

  text-align: center;
}

.title-skills h3 {
  background-color: rgb(4, 135, 204);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px 0px;
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 18px;
  position: relative;
  text-align: center;

  top: -32px;
}

.skills {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

.title-progress span {
  box-sizing: border-box;
  color: rgb(117, 117, 117);
  font-family: "PT Sans Narrow", sans-serif;
}

/*Search this styles
!!!!!!!!!!!!!!!!!!!!!!!!*/
/* .title-progress {
} */

.progress-bar {
  background-color: rgb(4, 135, 204);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 12px;
  height: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
  text-size-adjust: 100%;
  transition-delay: 0s;
  transition-duration: 0.6s;
  transition-property: width;
  transition-timing-function: ease;
}

.progress {
  background-color: rgb(117, 117, 117);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px;
  box-sizing: border-box;
  color: rgb(117, 117, 117);
  display: block;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  height: 14px;
  margin-bottom: 13px;
}

/*##################################################
Column ADDITIONAL SKILLS
##################################################*/
.col-skills2 {
  box-sizing: border-box;
  padding: 0 15px;
  background: rgb(238, 238, 238);
}

.add-skills {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.11) 0px 2px 10px 0px;
  color: rgb(117, 117, 117);  
  align-items: center;
  margin-bottom: 70px;
  padding: 0 30px 30px 30px;
}

.circle-progress {
  box-sizing: border-box;
  align-content: center;
  color: rgb(117, 117, 117);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.col-circle {
  color: rgb(117, 117, 117);
  display: inline-flex;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

.circle {
  color: rgb(117, 117, 117);

  padding-bottom: 20px;
  text-align: center;
  text-size-adjust: 100%;
  visibility: visible;
}
.chart-perecentage {
  color: rgb(117, 117, 117);

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 22px;
  left: 0px;

  position: absolute;
  text-align: center;
  text-size-adjust: 100%;
  top: 45px;
  visibility: visible;
  width: 301px;
}

.chart {
  color: rgb(117, 117, 117);

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  height: 119px;
  letter-spacing: 0.5px;
  line-height: 22.8571px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  text-size-adjust: 100%;
  visibility: visible;
}



.name-circle {
  color: rgb(117, 117, 117);

  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  height: 22px;
  letter-spacing: 0.5px;
  text-align: center;
}

.row2 {
  display: inline;
}
